body {
  background-color: #e91100;
}

.row {
  margin-top: 15px;
  margin-bottom: 15px;
}

#image-wrapper {
  width: 640px;
  height: 480px;
  position: relative;
  margin: 0 auto;
}

.word {
  position: absolute;
  display: block;
  top: 213px;
  left: 100px;
  width: 360px;
  height: 111px;
  line-height: 139px;
  vertical-align: middle;
  text-align: center;
  font-size: 72pt;
  color: #e5dde1;
  text-overflow: clip;
  -webkit-transform: rotate(-19.3deg);
  -ms-transform: rotate(-19.3deg);
  -o-transform: rotate(-19.3deg);
  -moz-transform: rotate(-19.3deg);
  transform: rotate(-19.3deg);
}